version: "3.8"
services:
  zookeeper:
    image: bitnami/zookeeper:3.9
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    ports: [ "2181:2181" ]
  kafka:
    image: bitnami/kafka:3.6
    depends_on: [ zookeeper ]
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
    ports: [ "9092:9092" ]

  schema-registry:
    image: confluentinc/cp-schema-registry:7.6.0
    depends_on: [ kafka ]
    environment:
      - SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS=PLAINTEXT://kafka:9092
      - SCHEMA_REGISTRY_HOST_NAME=schema-registry
      - SCHEMA_REGISTRY_LISTENERS=http://0.0.0.0:8081
    ports: [ "8081:8081" ]

  postgres:
    image: postgres:16
    environment:
      - POSTGRES_DB=telemetry_db
      - POSTGRES_USER=telemetry
      - POSTGRES_PASSWORD=telemetry123
    ports: [ "5432:5432" ]
    volumes:
      - ./infra/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  redis:
    image: redis:7.2
    ports: [ "6379:6379" ]

  control-api:
    build:
      context: ./apps/control-api
    depends_on: [ kafka, postgres, redis ]
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_USER=telemetry
      - POSTGRES_PASSWORD=telemetry123
      - POSTGRES_DB=telemetry_db
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    ports: [ "8000:8000" ]

  flink-jobmanager:
    image: flink:1.18-scala_2.12-java11
    command: jobmanager
    environment:
      - JOB_MANAGER_RPC_ADDRESS=flink-jobmanager
    ports: [ "8081:8081" ]
  flink-taskmanager:
    image: flink:1.18-scala_2.12-java11
    command: taskmanager
    depends_on: [ flink-jobmanager ]
    environment:
      - JOB_MANAGER_RPC_ADDRESS=flink-jobmanager
